body {
  box-sizing: border-box;
}

h1 {
  margin-left: 25px;
  color: #669;
}
.example, .result {
  margin: 0 0 25px 50px;
}

.table, table {
  width: 40%;
  border-collapse: collapse;
  text-align: left;
  font-size: 18px;
  color: #669;
  user-select: none;
}

.table__head .table__row, thead tr {
  border-top: 2px solid #6678b1;
  border-bottom: 2px solid #6678b1;
  font-weight: 600;
}

.table__body .table__row:hover, tbody tr:hover {
  background-color: #e8edff;
}
.table__body tr:last-of-type:last-child {
  border-bottom: none;
}
.table__cell, td {
  padding: 10px 15px;
  border-bottom: 1px solid #ccc;
  text-align: left;
}

button {
  margin-left: 25px;
  margin-bottom: 50px;
  padding: 11px 15px;
  min-width: 140px;
  border: 1px solid #6678b1;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  color: #669;
  background-color: #e6e7f2;
  cursor: pointer;
}
button:focus {
  outline: none;
}
button:hover {
  background-color: #6678b1;
  color: #fff;
  transition: .25s linear;
}