body {
  box-sizing: border-box;
}

body h1 {
  margin-left: 0.67em;
  color: #669;
}

a {
  display: block;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
}

a:hover {
  color: #6678b1;
}

table.pure-table thead {
  color: #669;
}

table {
  width: 40%;
  text-align: left;
  font-size: 18px;
  color: #669;
  user-select: none;
}

thead tr {
  border-top: 2px solid #6678b1;
  border-bottom: 2px solid #6678b1;
  font-weight: 600;
}

tbody tr:hover {
  background-color: #e8edff;
}

td {
  padding: 10px 15px;
  border-bottom: 1px solid #ccc;
  text-align: left;
}

.example, .result {
  margin: 0 0 25px 50px;
}


